div{
    height: 100px;
    width: 100px;
    background: red;
    color: white;
    margin: 15px;
}
.transition{
    background: blue;
    transition: all 2s linear;
}
.transition:hover{
    background: pink;
    transform: translateX(100px);
}
.animation{
    background: yellow;
    transition:all 5s cubic-bezier(.2,.76,.67,.02);
}
.animation:hover{
    background: wheat;
transform: translateX(200px);
}

